* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  background: #3498db;
}

svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.wrapper {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  gap: 15px;
}

.wrapper .note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper li {
  height: 250px;
  list-style: none;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 20px 20px;
}

.add-box,
.icon,
.bottom-content,
.settings .menu li,
.popup,
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-box {
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.add-box .icon {
  border: 2px dashed #3498db;
  height: 78px;
  width: 78px;
  border-radius: 50%;
  justify-content: center;
  color: #3498db;
}

.add-box p {
  color: #3498db;
  font-weight: 500;
  margin-top: 20px;
}

.note p {
  font-size: 22px;
  font-weight: 500;
}

.note span {
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}

.note .bottom-content {
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}

.bottom-content span {
  color: #6d6d6d;
  font-size: 14px;
}

.bottom-content .settings svg {
  color: #6d6d6d;
  font-size: 14px;
  cursor: pointer;
}

.settings {
  position: relative;
}

.settings .menu {
  position: absolute;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.settings:hover .menu {
  transform: scale(1);
}

.settings .menu li {
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  padding: 17px 15px;
  border-radius: 0;
  justify-content: flex-start;
}

.menu li:hover {
  background: #f5f5f5;
}

.menu li svg {
  padding-right: 8px;
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}

.popup-box .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.popup-box,
.popup-box .popup {
  opacity: 0;
  pointer-events: none;
}

.popup .content {
  width: calc(100% - 15px);
  background: #ffffff;
  border-radius: 5px;
}

.popup .content header {
  padding: 15px 25px;
  border-bottom: 1px solid #cccccc;
}

.content header p {
  font-size: 20px;
  font-weight: 500;
}

.content header svg {
  cursor: pointer;
  color: #8b8989;
  font-size: 23px;
}

.content form {
  margin: 1px 25px 35px;
}

.content form :where(input, textarea) {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999999;
}

.content form .row {
  margin-bottom: 20px;
}

form .row label {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}

.content form textarea {
  height: 150px;
  resize: none;
  padding: 8px 15px;
}

.content form button {
  width: 100%;
  height: 50px;
  background: #3498db;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
}
